<p style="color: green"><%= notice %></p>

<%= render @job %>

<div>
  <% if current_user == @job.user %>
    <%= link_to "Edit this job", edit_job_path(@job) %> |  
      <%= link_to "Delete this job", @job, method: :delete %>
  <% end %>
  <br><br>
  <%= button_to "Back to jobs", jobs_path %>
</div>

  
