<div class="navbar"><ul>
  <li><%= link_to 'Home', root_path %></li>
  <% if logged_in? %>
     <li><%= link_to 'Job Openings', jobs_path %></li>
     <li><%= link_to 'My Jobs', user_path(current_user) %>
     <li><%= link_to 'Logout', logout_path, data: {'turbo-method': :delete} %></li>
  <% else %>
     <li><%= link_to 'Sign Up', sign_up_path %></li>
     <li><%= link_to 'Login', login_path %></li>
    <% end %>
    <li class="search">
    <%= form_with url: "/openings/search", method: :get do |form| %> <%= form.label :query, "Search:" %> 
    <%= form.text_field :query %> <%= form.submit "Go" %> <% end %>
    </li>
  </ul>
</div>
